@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* @model IEnumerable<Model.Entities.ACC_Account> *@
@*@model Model.Entities.ACC_AccountList*@

@{
    ViewBag.Title = "Accounts List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Hi</h1>
